<p id="notice"><%= notice %></p>
<div class="slather">
	<div class="panel panel-default">
	<div class="panel-body">
		<div class="explode"></div>
		<% if user_signed_in? %>
		<button class="sassybutton">Update Status</button>
		<% end %>
		<button class="classybutton">Back</button>
	</div>
	</div>
</div>

<h1 style="text-align:center;">WHAT AM I WORKING ON?</h1>

<div class="row" style="margin:10px;">
<% @projects.each do |project|%>
	<div class="col-md-4">
	<div class="panel panel-default">
		<div class="panel-heading", style="background-color:rgb(0,0,0);">
			<h3 class="panel-title"><%= project.title %></h3>
			<p>since <%= project.startdate %></p>
		</div>
		<div class="panel-body">
			<%= link_to (image_tag project.avatar.url(:thumb)), project, remote: true %>
		</div>
		<div class="panel-footer current-status<%= project.id %>">
			<% if project.statuses.last == nil %>
			<p>Status: Not begun</p>
			<% else %>
			<p data-toggle="tooltip" title="<%= project.statuses.last.content %>">Status: <%= project.statuses.last.content %></p>
			<% end %>
		</div>
	</div>
	</div>
<% end %>
</div>
<br>

<% if user_signed_in? %>
<button class="btn btn-primary newprojectbutton"><span class="glyphicon glyphicon-plus"></span><%= link_to ' new project', new_project_path %></button>
<% end %>
